.footer-distributed {
	background-color: var(--secondary-color);
	box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
	padding: 40px 50px;
	margin-top: auto;
	/* Push to bottom if flex container */
	color: var(--text-secondary);
	font-size: 0.9rem;
}

.footer-distributed h3 {
	color: var(--white);
	font-size: 1.5rem;
	margin-bottom: 20px;
}

.footer-distributed h3 span {
	color: var(--accent-color);
}

.footer-links {
	margin-bottom: 20px;
}

.footer-links a {
	display: inline-block;
	color: var(--text-secondary);
	margin-right: 15px;
}

.footer-links a:hover {
	color: var(--accent-color);
}

.footer-company-name {
	color: var(--text-secondary);
	font-size: 0.8rem;
	opacity: 0.7;
}

.footer-center i {
	background-color: #0a192f;
	color: var(--white);
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 38px;
	margin-right: 15px;
}

.footer-center div {
	display: flex;
	align-items: center;
	margin-bottom: 15px;
}

.footer-center p {
	margin: 0;
	color: var(--text-secondary);
}

.footer-icons {
	margin-top: 25px;
}

.footer-icons a {
	display: inline-block;
	width: 35px;
	height: 35px;
	background-color: #0a192f;
	border-radius: 2px;
	color: var(--white);
	text-align: center;
	line-height: 35px;
	margin-right: 10px;
	transition: all 0.3s;
}

.footer-icons a:hover {
	background-color: var(--accent-color);
	color: var(--primary-color);
}

@media (max-width: 880px) {
	.footer-distributed {
		text-align: center;
	}

	.footer-center div {
		justify-content: center;
	}
}